/* Variables */
:root {
    --primary: #2D3142;
    --secondary: #0FF4C6;
    --light: #ffffff;
}

/* Global styles */
    * {
        font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
    }

/* Header (and nav) section */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 2% 16px 0;
        background-color: var(--primary);
    }

    h1 {
        font-size: 200%;
        font-weight: 500;
        color: #ffffff;
        border-bottom: 1px solid #0FF4C6;
        padding: 0% 0.5% 0% 7%;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        min-width: 250px;
    }

    nav a {
        color: #ffffff;
        padding: 20px;
        text-decoration: none;
    }

    nav a:hover{
        color: #0FF4C6;
        text-decoration: underline;
    }

/* Profile */
    .cover {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 24px 16px;
    }

    .cover em {
        flex: 0 1 500px;
        padding: 20px 0 20px 30px;
        font-size: 120%;
    }

    .craig {
        flex: 0 0 150px;
        background-image: url("../images/profile.jpg");
        background-size: cover;
        background-position: center;
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
    }

/* Unsorted */

h2 {
    font-size: 150%;
    font-weight: 400;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    color: var(--primary);
    margin-bottom: 5%;
}

section aside {
    flex: 1 0 100px;
    order: 1;
    text-align: right;
    padding: 1% 3%;
    border-right: 2px solid #0FF4C6;
}

section article {
    flex: 3 0 400px;
    order: 2;
    padding: 0 5%;
}

#work-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#main-project {
    width: 100%;
    position: relative;
    height: 200px;
    text-align: right;
    padding: 2%;
    margin: 0 1% 1% 1%;
    background: grey;
}

.project {
    flex-grow: 1;
    position: relative;
    width: 33%;
    text-align: right;
    padding: 2%;
    margin: 0 1% 1% 1%;
    background: grey;
    height: 100px;
}

.proj-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer {
    height: 50px;
    text-align: center;
    font-size: 0.6%;
}

#contact article {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact a {
    color: var(--primary);
}

#contact a:hover {
    color: #0FF4C6;
    text-decoration: underline;
}

/* Add precise break points using media queries
 - see breakpoints in mini project: 992, 768,  */
 @media screen and (max-width:992px){
    .project{
        min-width: 50%;
    }
 }

 @media screen and (max-width:768px){
    .project{
        min-width: 100%;
    }
 }